body{
    background-image: url("/bg-pattern-top-desktop.svg"), url("/bg-pattern-bottom-desktop.svg");
    background-position: left top, right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat,no-repeat;
}
.top-body{
    display: flex;
    vertical-align: top;
    justify-content: center;
    margin-top: 100px;
}
.topic{
    width: 500px;
    margin-right: 20px;
}
.Title{
    font-family: League Spartan;
    color: hsl(300, 43%, 22%);
    width: 400px;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 0;
}
.text{
    font-family: League Spartan;
    color: hsl(303, 10%, 53%);
    font-size: 20px;
}
.reviews{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    align-items: center;
    padding-left: 2rem;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 35px;
    height: 50px;
}
.report-guru{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    align-items: center;
    padding-left: 2rem;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 40px;
    height: 50px;
}
.best-tech{
    display: flex;
    background-color: hsl(300, 24%, 96%);
    width: 350px;
    align-items: center;
    padding-left: 2rem;
    border-radius: 10px;
    margin-left: 80px;
    height: 50px;
}
.ratings{
    font-size: 15px;
    font-family: League Spartan;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
}
.stars{
    padding-right: 1.5rem;
}
.bottom-body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.colton, .Irene, .Anne{
    width: 256px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-right: 25px;
    padding: 25px;
    padding-top: 40px;
    padding-right: 30px;
    height: 150px;

}
.Irene{
    margin-top: 20px;
}
.Anne{
    margin-top: 40px;
}
.user-info{
    display: flex;
}
.image{
    width: 40px;
    border-radius: 30px;
    margin-right: 20px;
}
.username{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: League Spartan;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.user-status{
    margin-top: 0px;
    font-family: League Spartan;
    color:hsl(333, 80%, 67%);
}
.user-texts{
    font-size: 15px;
    font-family: League Spartan;
    color: hsl(300, 24%, 96%);
}
@media only screen and (max-width: 600px){
    body{
        background-image: url("/bg-pattern-top-mobile.svg"), url("/bg-pattern-bottom-mobile.svg");
        background-position: left top, right bottom;
        background-attachment: fixed;
        background-repeat: no-repeat,no-repeat;
    }
    .top-body{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
    }
    .topic{
        width: 300px;
        margin-right: 0px;
        text-align: center;
    }
    .Title{
        font-family: League Spartan;
        color: hsl(300, 43%, 22%);
        width: 250px;
        font-weight: bolder;
        font-size: 35px;
        margin-left: 20px;
        font-family: League Spartan;
    }
    .text{
        font-family: League Spartan;
        color: hsl(303, 10%, 53%);
        font-size: 15px;
        width: 270px;
        margin-left: 10px;
    }
    .reviews{
        display: block;
        background-color: hsl(300, 24%, 96%);
        width: 250px;
        align-items: center;
        border-radius: 15px;
        margin-bottom: 10px;
        margin-top: 35px;
        height: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .report-guru{
        display: block;
        background-color: hsl(300, 24%, 96%);
        width: 250px;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-left: 0px;
        height: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .best-tech{
        display: block;
        background-color: hsl(300, 24%, 96%);
        width: 250px;
        border-radius: 10px;
        margin-left: 0px;
        height: 80px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .ratings{
        font-size: 15px;
        font-family: League Spartan;
        font-weight: bold;
        color: hsl(300, 43%, 22%);
        margin-top: 0px;
        text-align: center;
    }
    .bottom-body{
        display: block;
        margin-top: 30px;
        justify-content: center;
    }
    .colton, .Irene, .Anne{
        width: 230px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        margin-left: 40px;
        padding: 25px;
        padding-top: 40px;
        padding-right: 30px;
        height: 150px;
        padding-bottom: 1rem;
    }
    .Anne{
        margin-top: 20px;
    }
    .stars{
        padding-right: 0rem;
        margin-bottom: 0rem;
        padding-top: 15px;
    }
}